/* HomePage.css */

.home-page {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
  }

  .header {
    background-image: url('../../components/images/apinetwork.jpg');
    background-size: cover;
    background-position: center;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .header h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
  }

  .skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.skill-category {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    background-image: url('../../components/images/apinetwork.jpg');
  }

.skill-category h3 {
    color: #000000;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.skill-category ul {
    list-style: none; 
    padding: 0;
}

.skill-category ul li {
    margin-bottom: 8px;
    padding: 5px;
    transition: background-color 0.3s;
}

.skill-category ul li:hover {
    background-color: #f8f9fa;
}

  
  .fa-brands, .fa-solid { /* Adjustments for Font Awesome Icons */
    margin-right: 10px; /* Space between icon and text */
  }
  
  .project {
    padding: 15px;
    background-color: #f2f2f2;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .project:hover {
    background-color: #e9ecef;
  }
  
  .contact-info a {
    display: inline-block;
    margin-right: 15px;
    color: #007bff;
    text-decoration: none;
    padding-bottom: 15px;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
  
  
  @media screen and (max-width: 600px) {
    .header h1 {
      font-size: 2em;
    }

    .skills {
        grid-template-columns: 1fr; /* Adjust grid layout for smaller screens */
      }
    }
  
  
  